
@using ResturantMenu.Shared
@inherits AddCategoryDialogBase

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Employee Quick Add</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <EditForm Model="@Category" OnValidSubmit="@HandleValidSubmit">

                        <DataAnnotationsValidator />
                        
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <InputText id="name" class="form-control" @bind-Value="Category.Name" placeholder="Enter category name" />
                            <ValidationMessage For="@(() => Category.Name)" />
                        </div>
                        <div class="form-group">
                            <label for="name">Description: </label>
                            <InputText id="description" class="form-control" @bind-Value="Category.Description" placeholder="Enter category description" />
                        </div>
                        <div class="form-group">
                            <label for="name">Sequence: </label>
                            <InputNumber id="sequence" class="form-control" @bind-Value="Category.Sequence" />
                        </div>
                        <div class="form-group">
                            <label for="image">Image: </label>
                            <InputText id="image" class="form-control" @bind-Value="Category.Image" placeholder="Enter category image" />
                        </div>
                        <div class="form-group">
                            <label for="isAvailable">Is Available: </label>
                            <InputCheckbox id="isAvailable" @bind-Value="Category.IsAvailable"/>
                        </div>
                        <div class="align-content-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                        </div>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>
}