@inherits TabSetBase

    <CascadingValue Value=this>
        <ul class="nav nav-pills">
            @ChildContent
        </ul>

        <!-- Display body for only the active tab -->
        <div class="tab-content">
            @if (HasActiveTab)
            {
                @ActiveTab?.ChildContent
            }
        </div>
    </CascadingValue>